.MainOuterContainer {
  display: flex;
  width: 100%;
}

.main-part {
  flex: 1;
  padding: 20px;
  background-color: #f4f4f4;
}

.checkout-container {
  text-align: center;
}

.tab-selection {
  margin-top: 20px;
}

.tab-btn {
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
}

.pickup-details,
.home-delivery-form {
  margin-top: 20px;
}

.home-delivery-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-delivery-form input {
  padding: 10px;
  margin: 10px 0;
  width: 300px;
}

.checkout-actions {
  margin-top: 20px;
}

.back-btn,
.proceed-btn {
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
}

ul {
  list-style-type: none; /* Removes the bullet points */
  padding: 0; /* Removes default padding */
}

li {
  cursor: pointer;
  padding: 5px 0;
}

li:hover {
  background-color: #f0f0f0; /* Adds a hover effect to highlight the store */
}
